<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Task 5: Add the title of your store here. Use EJS syntax. -->
    <title><%= title% ></title>
</head>
<body>
    <!-- Task 6: Again, add the title of your store here. -->
    <h1>Welome to <%= title% >!</h1>

    <!-- Task 7: Add a conditonal here. If there are some items on sale show this:  -->
    <% if (itemsOnSale) { %>
        <h2>Some Products on Sale</h2>
    <% } else { %>
      <!-- Otherwise show this: -->
        <p>No Products on Sale Right Now.</p>
    <% } %>

    <ul>
      <!-- Task 8: Iterate through your products array. Add both the product name and sale value into an <li> tag. Do not hardcode, you must use a for loop.  -->
      <% products.forEach(function(product) { %>
        <li>
          <strong><%= product.name %></strong>
          <% if (product.sale) { %>
          <%= product.sale %>
          <% } %>
        </li>
      })
    </ul>
</body>
</html>
